<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lora:100,300,400,400italic,500,700,700italic'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,400'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700'>
    <link rel='stylesheet' href="{% static 'css/global.css' %}">
    <link rel='stylesheet' href="{% static 'css/structure.css' %}">
    <link rel='stylesheet' href="{% static 'css/sportsclub.css' %}">
    <link rel='stylesheet' href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <style>
        @media screen and (max-width: 75em) {
            .tp-bgimg {
                background-attachment: scroll !important;
            }

            h5 {
                font-size: 16px;
            }

            .squash-court {
                background-size: contain;
                background-color: #c7c3c0 !important;
                background-position: center !important;
            }
        }

        #slide-1-layer-4 {
            text-shadow: 2px 2px 2px grey;
        }

        .discover-xs {
            color: black !important;
        }

        @media screen and (max-width: 37.5em) {
            #rev_slider_1_1_wrapper {
                height: 280px !important
            }

            #rev_slider_1_1 {
                height: 280px !important
            }

            .img-xs {
                height: 220px !important;
                width: 280px !important;
                position: absolute;
                left: 150px !important;
                top: 50px !important;
            }

            #slide-1-layer-4 {
                font-size: 24px !important;
                line-height: 28px !important;
                text-shadow: 2px 2px 2px grey;
            }

            .discover-xs {
                font-size: 14px !important;
                line-height: 16px !important;
                padding: 10px 15px !important;
                position: absolute;
                top: 72px;
            }
        }

        @media (min-width: 75em) {
            .discover-xs {
                position: absolute;
                left: 16px;
            }
        }

        h5 {
            font-weight: 500 !important;
            font-size: 18px;
        }

        @media (min-width: 37.5em) and (max-width: 768px) {
            .discover-xs {
                font-size: 20px !important;
                line-height: 24px !important;
                padding: 5px 15px !important;
                position: absolute;
                left: 46px;
                top: 72px;
            }

            #slide-1-layer-4 {
                line-height: 28px !important;
            }
        }

        @media (min-width: 769px) and (max-width: 75em) {
            .discover-xs {
                font-size: 20px !important;
                line-height: 28px !important;
                padding: 5px 15px !important;
                position: absolute;
                left: 46px;
                top: 72px;
            }

            #slide-1-layer-4 {
                line-height: 38px !important;
            }
        }

        @media (max-width: 37.5em) {
            #slide-1-layer-8 {
                height: 10px !important;
            }
        }
    </style>
</head>

<body
    class="home template-slider color-custom style-simple layout-full-width button-flat no-content-padding header-classic header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below-80-1 menuo-no-borders menuo-right footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-ll">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div class="header_placeholder"></div>
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="/" title="BeSportsClub - BeTheme"><img
                                            class="logo-main scale-with-grid" src="{% static 'img/logo_trans.png' %}"
                                            alt="sportsclub"><img class="logo-sticky scale-with-grid"
                                            src="{% static 'img/logo_trans.png' %}" alt="sportsclub"><img
                                            class="logo-mobile scale-with-grid" src="{% static 'img/logo_trans.png' %}"
                                            alt="sportsclub"><img class="logo-mobile-sticky scale-with-grid"
                                            src="{% static 'img/logo_trans.png' %}" alt="sportsclub">
                                    </a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu" class="menu-main-menu-container">
                                        <ul id="menu-main-menu" class="menu">
                                            <li class="current-menu-item">
                                                <a href="/"><span>Home</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>About</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Coaching</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Tournament</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Committee</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Gallery</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Contact Us</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mfn-main-slider" id="mfn-rev-slider">
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                        data-source="gallery"
                        style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;"
                            data-version="5.4.1">
                            <ul>
                                <li data-index="rs-1" data-transition="fade" data-slotamount="default"
                                    data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                    data-easeout="default" data-masterspeed="300" data-rotate="0"
                                    data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                                    data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                    data-param8="" data-param9="" data-param10="" data-description="">
                                    <img src="{% static 'img/banner.jpg' %}" alt=""
                                        title="home_sportsclub_slider_slide1_bg" width="1920" height="1068"
                                        data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat"
                                        class="rev-slidebg" data-no-retina>
                                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-3" data-x="center"
                                        data-hoffset="-629" data-y="261" data-width="['auto']" data-height="['auto']"
                                        data-type="text" data-responsive_offset="on"
                                        data-frames='[{"delay":150,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                        style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: white; letter-spacing: 0px;font-family:Lora;">
                                    </div>
                                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-4" data-x="center"
                                        data-hoffset="-499" data-y="311" data-width="['auto']" data-height="['auto']"
                                        data-type="text" data-responsive_offset="on"
                                        data-frames='[{"delay":200,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                        style="z-index: 6; white-space: nowrap; font-size: 64px; line-height: 54px; font-weight: 700; color: white; letter-spacing: 0px;font-family:Roboto Condensed;">
                                        JOIN THE CLUB
                                        <br> AND START
                                        <br> HEALTHY LIFE
                                        <br> TODAY
                                    </div>
                                    <a class="tp-caption rev-btn  tp-resizeme discover-xs" href="#" target="_self"
                                        id="slide-1-layer-6" data-x="center" data-hoffset="-616" data-y="591"
                                        data-width="['auto']" data-height="['auto']" data-type="button" data-actions=''
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":250,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(43,43,43);bs:solid;bw:0 0 0 0;"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]"
                                        data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]"
                                        style="z-index: 7; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;font-family:Lora;background-color:#f9bf00;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;border-radius: 20px;">Discover
                                        more </a>
                                    <div class="tp-caption tp-resizeme" id="slide-1-layer-9" data-x="center"
                                        data-hoffset="" data-y="bottom" data-voffset=""
                                        data-width="['none','none','none','none']"
                                        data-height="['none','none','none','none']" data-type="image"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":10,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                        style="z-index: 10;"><img class="img-xs"
                                            src="https://i.pinimg.com/originals/a6/28/b3/a628b3f58137128db4c6c51be0835f5a.png"
                                            style="object-fit: contain;" alt="" data-ww="661px" data-hh="1059px"
                                            width="661" height="1059" data-no-retina>
                                    </div>
                                    <div class="tp-caption tp-resizeme" id="slide-1-layer-8" data-x="center"
                                        data-hoffset="" data-y="bottom" data-voffset=""
                                        data-width="['none','none','none','none']"
                                        data-height="['none','none','none','none']" data-type="image"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":10,"speed":100,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                        style="z-index: 11;"><img
                                            src="{% static 'img/home_sportsclub_slider_slide1_pic2.png' %}" alt=""
                                            data-ww="1917px" data-hh="255px" width="1917" height="255" data-no-retina>
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>

                    </div>
                </div>
            </header>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section mcb-section equal-height-wrap" style="padding-top:0px; padding-bottom:0px">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-second  column-margin-30px valign-bottom clearfix"
                                    style="margin-top:-30px">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix">
                                                <!-- <h4>Our offer</h4> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-second  column-margin-30px valign-top clearfix"
                                    style="margin-top:-30px">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix align_right">
                                                <h2>SEE WHAT
                                                    <br>
                                                    WE'VE GOT FOR YOU</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section" style="padding-top:0px; padding-bottom:50px;"
                            data-parallax="3d">
                            <img class="mfn-parallax" src="{% static 'img/home_sportsclub_sectionbg1.png' %}" alt=""
                                style="opacity:0">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-second  column-margin-20px valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix squash-court"
                                                style=" background-color:#c23c48; background-image:url('https://www.tutorialathome.in/postimg/2019/09/calcutta-racket-club-02.jpg'); background-repeat:no-repeat; background-position:center bottom; padding:40px 40px 20px;">
                                                <h3
                                                    style="color:white; text-shadow: 2px 2px 10px black; text-transform: capitalize;">
                                                    Glass-backed
                                                    international
                                                    standard squash
                                                    courts</h3>
                                                <hr class="no_line" style="margin:0 auto 5px">
                                                <div class="column three-fifth">
                                                    <h5 style="color:black; text-shadow: 2px 2px 2px white;">
                                                    </h5>
                                                </div>
                                                <hr class="no_line" style="margin:0 auto 150px">
                                                <!-- <a class="button  button_size_2 button_theme button_js" href="#"><span
                                                        class="button_label">Discover more</span></a> -->
                                            </div>
                                        </div>
                                        <!-- <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix"
                                                style=" background-color:#060604; background-image:url(../static/img/home_sportsclub_wrapbg5.png); background-repeat:no-repeat; background-position:center bottom; padding:40px 40px 25px;">
                                                <h3 style="color:#fff">Squash</h3>
                                                <hr class="no_line" style="margin:0 auto 5px">
                                                <div class="column three-fifth">
                                                    <h5 style="color:#fff">Curabitur sed iaculis dolor, non congue
                                                        ligula. Maecenas imperdiet ante eget hendrerit posuere nunc
                                                        urna.</h5>
                                                </div>
                                                <hr class="no_line" style="margin:0 auto 70px">
                                                <a class="button  button_size_2 button_js" href="#"
                                                    style=" background-color:#fff !important; color:#000"><span
                                                        class="button_label">Discover more</span></a>
                                            </div>
                                        </div> -->
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix"
                                                style=" background-color:#e3ecf2; background-image:url(../static/img/home_sportsclub_wrapbg3.jpg); background-repeat:no-repeat; background-position:center top; padding:40px 40px 25px;">
                                                <h2>Calendar</h2>
                                                <hr class="no_line" style="margin:0 auto 15px">
                                                <table class="sportsclub-table">
                                                    <tr>
                                                        <td class="c1">Fitness 50+</td>
                                                        <td class="c2">Mon, Tue 18:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="c1">Swimming lessons</td>
                                                        <td class="c2">Thu 8:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="c1">Tennis Happy Hour</td>
                                                        <td class="c2">Mon, Fri 7:00 - 8:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="c1">Swimming evenings</td>
                                                        <td class="c2">Mon, Tue 18:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="c1">Cardio time</td>
                                                        <td class="c2">Everyday 19:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="c1">Squash 50% off</td>
                                                        <td class="c2">Wed 15:00 - 17:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="c1">Fitness 50+</td>
                                                        <td class="c2">Mon, Tue 18:00</td>
                                                    </tr>
                                                </table>
                                                <hr class="no_line" style="margin:0 auto 15px">
                                                <a class="button  button_size_2 button_theme button_js" href="#"><span
                                                        class="button_label">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-second column-margin-20px valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix"
                                                style=" background-color:#000; background-image:url(../static/img/home_sportsclub_wrapbg5.png); background-repeat:no-repeat; background-position:center bottom; padding:40px 40px 25px;">
                                                <h3 style="color:#fff">Racket club</h3>
                                                <hr class="no_line" style="margin:0 auto 5px">
                                                <div class="column three-fifth">
                                                    <h5 style="color:#fff">The Calcutta Racket Club is a squash and
                                                        racket club in Kolkata, India. It was founded in 1793, making
                                                        it one of the oldest racket clubs in the world, and the first
                                                        in the subcontinent of its seven squash courts, two are
                                                        glass-backed international standard tournament courts. The club
                                                        is the administrative headquarters of The West Bengal Squash
                                                        Racket Association that is affiliated to the Squash Racket
                                                        Federation of India. It has hosted the Kolkata International, an
                                                        international squash tournament in 2005 and hosts all major
                                                        squash activities and trainings in eastern India.</h5>
                                                </div>
                                                <!-- <hr class="no_line" style="margin: 0 auto 270px;" /> -->
                                                <!-- <a class="button  button_size_2 button_js" href="#"
                                                    style=" background-color:#fff !important; color:#000"><span
                                                        class="button_label">Discover more</span></a> -->
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix"
                                                style=" background-color:#eaaf75; background-image:url(../static/img/home_sportsclub_wrapbg4.png); background-repeat:no-repeat; background-position:center top; padding:80px 40px 65px 60px;">
                                                <h1><span style="color:#fff">We are
                                                        <br>
                                                        open</span>
                                                    <br>
                                                    Everyday
                                                    <br>
                                                    <span style="color:#fff">From</span> 7:00
                                                    <br>
                                                    <span style="color:#fff">Till</span> 20:00</h1>
                                            </div>
                                        </div>
                                        <!-- <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix"
                                                style=" background-color:#2b9acd; background-image:url(../static/img/home_sportsclub_wrapbg6.jpg); background-repeat:no-repeat; background-position:center bottom; padding:40px 40px 25px;">
                                                <h3 style="color:#fff">Sport pool</h3>
                                                <hr class="no_line" style="margin:0 auto 5px">
                                                <div class="column three-fifth">
                                                    <h5 style="color:#fff">Curabitur sed iaculis dolor, non congue
                                                        ligula. Maecenas imperdiet ante eget hendrerit posuere nunc
                                                        urna.</h5>
                                                </div>
                                                <hr class="no_line" style="margin:0 auto 100px">
                                                <a class="button  button_size_2 button_theme button_js" href="#"><span
                                                        class="button_label">Discover more</span></a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:120px 0">
                <div class="container">
                    <div class="column one-second">
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                <h4>Join today</h4>
                                <hr class="no_line" style="margin:0 auto 20px">
                                <h3>+91 33 22231138</h3>
                                <h3>crcsquash@hotmail.com</h3>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                <h3>Address</h3>
                                <hr class="no_line" style="margin:0 auto 20px">
                                <h5>95, Jawaharlal Nehru Rd
                                    <br>
                                    Near St. Paul's Cathredal
                                    <br>
                                    Kolkata-700071
                                    <br>
                                    West Bengal</h5>
                                <hr class="no_line" style="margin:0 auto 20px">
                                <a class="button  button_size_2 button_js" href="#"
                                    style=" background-color:#b3b3b3 !important; color:#000"><span
                                        class="button_label">Contact us</span></a>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid" src="{% static 'img/logo_trans.png' %}" alt="img">
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <div class="copyright">Copyright &copy; 2020</a>
                        </div>
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Side Menu -->
    <div id="Side_slide" class="right dark">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>


    <!-- JS -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/mfn.menu.js' %}"></script>
    <script src="{% static 'js/jquery.plugins.js' %}"></script>
    <script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
    <script src="{% static 'js/animations.js' %}"></script>
    <script src="{% static 'js/translate3d.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>

    <script src="{% static 'js/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.parallax.min.js' %}"></script>

    <script>
        var tpj = jQuery;
        var revapi1;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "hero",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {},
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1920,
                    gridheight: 1100,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner2",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });
    </script>

    <script id="mfn-dnmc-retina-js">
        jQuery(window).load(function () {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img.logo-main");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "{% static 'img/logo_trans.png' %}").width(retinaLogoW).height(retinaLogoH);
                var stickyEl = jQuery("#logo img.logo-sticky");
                var stickyLogoW = stickyEl.width();
                var stickyLogoH = stickyEl.height();
                stickyEl.attr("src", "{% static 'img/logo_trans.png' %}").width(stickyLogoW).height(stickyLogoH);
                var mobileEl = jQuery("#logo img.logo-mobile");
                var mobileLogoW = mobileEl.width();
                var mobileLogoH = mobileEl.height();
                mobileEl.attr("src", "{% static 'img/logo_trans.png' %}").width(mobileLogoW).height(mobileLogoH);
                var mobileStickyEl = jQuery("#logo img.logo-mobile-sticky");
                var mobileStickyLogoW = mobileStickyEl.width();
                var mobileStickyLogoH = mobileStickyEl.height();
                mobileStickyEl.attr("src", "{% static 'img/logo_trans.png' %}").width(mobileStickyLogoW).height(mobileStickyLogoH);
            }
        });
    </script>

    <!-- <script>
        var d = new Date();
        document.getElementById("slide-1-layer-3").innerHTML = d.getDate().toString() + "-" + (d.getMonth() + 1).toString() + "-" + d.getFullYear().toString();
    </script> -->
</body>

</html>